html {
  font-size: 14px;
}

body{
  height: 100vh!important;
  background-color: rgb(0, 66, 0)!important;
  /*color: rgb(185, 171, 141)!important;*/
}

.large-text {
  font-size: 5rem;
  margin-bottom: 5px;
}

.medium-text {
  font-size: 2.2rem;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.inline-block {
  display: inline-block;
}

.input {
  width: 7rem;
}

/*#disclaimer {
  font-size: 1.5rem;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}*/

.selectOptions{
  color: black;
  background-color: white;
}

#btn{
margin: 2% auto;
height: 3rem;
padding: 4px 12px;

}
